<div class="container"></br></br>
  <div class="row">
    <div class="col-1 col-lg-4">
    </div>
    <div class="col-10 col-lg-4">
      <% if @event.errors.any? %>
      <div id="error_explanation">
          <h2 class="text-danger" ><%= pluralize(event.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @event.errors.full_messages.each do |msg| %>
          <li class="text-secondary"><%= msg %></li>
          <% end %>
          </ul>
      </div>
      <% end %>
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <%= form_with model: event do |form| %>
            <div class="mb-3">
              <%= form.label :title %><br>
              <%= form.text_field :title, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :description %><br>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :location %><br>
              <%= form.text_field :location, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :date %><br>
              <%= form.date_select :date, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :time %><br>
              <%= form.time_select :time %>
              <%# <%= form.time_zone_select :timezone %>
            </div>

            <div class="mb-3">
              <%= form.submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-1 col-lg-4">
    </div>
  </div>
</div>