<div class="container"></br>
<h3 class="d-flex justify-content-center">All Events</h3></br>
  <h5>Upcoming Events:</h5></br>
  <div class="row">
    <% @coming.each do |event| %>
    <div class="col-12 col-lg-4 d-flex justify-content-center"></br>
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.location %></h6>
            <p class="card-subtitle mb-2 text-muted"><%= event.time.strftime("%k:%M") %> | <%= event.date.strftime("%d/%m/%Y") %></p>
            <a href="#" class="card-link"><%= link_to 'Show', event_path(event.id) %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div></br></br>
  <h5>Passed Events:</h5></br>
  <div class="row">
    <% @past.each do |event| %>
    <div class="col-12 col-lg-4 d-flex justify-content-center"></br>
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.location %></h6>
            <p class="card-subtitle mb-2 text-muted"><%= event.time.strftime("%k:%M") %> | <%= event.date.strftime("%d/%m/%Y") %></p>
            <a href="#" class="card-link"><%= link_to 'Show', event_path(event.id) %></a>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>