<div class="container"></br>
  <h1>All Events!</h1></br>
  <div class="row">
    <div class="col">
    <h3>Upcoming Events</h3>
      <ul>
        <% @coming.each do |event| %>
          <li>
            <%= event.title %>
            <%= event.location %>
            <%= event.date.strftime("%d/%m/%Y") %>
          </li>
          <%= link_to 'Show', event_path(event.id) %>
      <% end %>
      </ul>
    </div>
    <div class="col">
    <h3>Past Events</h3>
      <ul>
        <% @past.each do |event| %>
          <li>
            <%= event.title %>
            <%= event.location %>
            <%= event.date.strftime("%d/%m/%Y") %>
          </li>
          <%= link_to 'Show', event_path(event.id) %>
      <% end %>
      </ul>
    </div>
  </div>
</div>