<ul>
    <li>
      <h3><%= @event.title %></h3>
      <%= @event.creator.email %>
      <%= @event.description %>
      <%= @event.location %>
      <%= @event.date.strftime("%d/%m/%Y") %>
      <%= @event.time.strftime("%k:%M") %>
    </li>
  <% if @event.creator == current_user %>
    <%= link_to 'Edit', edit_event_path(@event.id) %>
    <%= button_to 'Delete', @event, method: :delete %>
  <% elsif @event.attendees.include?(current_user) %>
    <% @involvement = current_user.involvements.where(event_id: @event.id) %>
    <%= button_to 'Not Join', involvement_path(@involvement.ids), :method => 'delete' %>
  <% else %>
    <%= button_to 'Join Event', involvements_path(@event), params: { involvement: { event_id: @event.id, attendee_id: current_user.id } } %>
  <% end %>
    <%= link_to 'All Events', events_path, data: { turbo_action: "replace" } %>
</ul>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Attendees
  </div>
  <ul class="list-group list-group-flush">
      <% @event.attendees.each do |attendee| %>
        <li class="list-group-item" >
          <%= attendee.email %>
        </li>
      <% end %>
  </ul>
</div>

<h3></h3>
