<h1>Your Events!</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <h1>Created:</h1>
        <% current_user.events.each do |event| %>
          <li>
            <%= event.title %>
            <%= event.location %>
            <%= event.date.strftime("%d/%m/%Y") %>
            <%= event.time.strftime("%k:%M") %>
          </li>
              <%= link_to 'Show', event_path(event.id) %>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <ul>
        <h1>Joined Upcomings:</h1>
        <% current_user.involvements.each do |involvement| %>
          <% @event = Event.find(involvement.event_id) %>
          <% if @event.date > Date.today %>
            <li>
              <%= @event.title %>
              <%= @event.location %>
              <%= @event.date.strftime("%d/%m/%Y") %>
              <%= @event.time.strftime("%k:%M") %>
            </li>
            <%= link_to 'Show', event_path(@event.id) %>
            <%= button_to 'Not Join', involvement_path(involvement), :method => 'delete' %>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <ul>
        <h1>Joined Pasts:</h1>
        <% current_user.involvements.each do |involvement| %>
          <% @event = Event.find(involvement.event_id) %>
          <% if Date.today > @event.date %>
            <li>
              <%= @event.title %>
              <%= @event.location %>
              <%= @event.date.strftime("%d/%m/%Y") %>
              <%= @event.time.strftime("%k:%M") %>
            </li>
            <%= link_to 'Show', event_path(@event.id) %>
            <%= button_to 'Not Join', involvement_path(involvement), :method => 'delete' %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>